@model RpgMvc.Models.PersonagemViewModel;

@{
    ViewBag.Title = "Detalhes"; 
}
@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"];
    </div>
}
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Mensagem"];
    </div>
}
<h2>Detalhes do personagem</h2>
<hr />
<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.Id)</dt>
    <dd>@Html.DisplayFor(model => model.Id)</dd>
    
    <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
    <dd>@Html.DisplayFor(model => model.Nome)</dd>

    <dt>@Html.DisplayNameFor(model => model.Classe)</dt>
    <dd>@Html.DisplayFor(model => model.Classe)</dd>

    <dt>@Html.DisplayNameFor(model => model.PontosVida)</dt>
    <dd>@Html.DisplayFor(model => model.PontosVida)</dd>

    <dt>@Html.DisplayNameFor(model => model.Disputas)</dt>
    <dd>@Html.DisplayFor(model => model.Disputas)</dd>

    <dt>@Html.DisplayNameFor(model => model.Vitorias)</dt>
    <dd>@Html.DisplayFor(model => model.Vitorias)</dd>

    <dt>@Html.DisplayNameFor(model => model.Derrotas)</dt>
    <dd>@Html.DisplayFor(model => model.Derrotas)</dd>

    <dt>@Html.DisplayNameFor(model => model.Inteligencia)</dt>
    <dd>@Html.DisplayFor(model => model.Inteligencia)</dd>

    <dt>@Html.DisplayNameFor(model => model.Defesa)</dt>
    <dd>@Html.DisplayFor(model => model.Defesa)</dd>
</dl>